<main class="wrapper">
  <section class="box">
    <% @questions.each do |ques| %>
	    	<% if ques.answers.first %>
	    		<div class="question">
		    		<h2 class="quesContent"><%= ques.content %></h2>
		    		<div class="answerOf">
		    			<aside>
		    				<img src="/uploads/<%= ques.answers.first.user.profile_picture%>">
		    			</aside>
		    			<h4><%= ques.answers.first.user.email %></h4>
		    		</div>
		    		<div class="answer">
		      			<%= raw(ques.answers.first.content) %>
		      		</div>
	      		</div>
	      	<% end %>
    <% end %>
  </section>  
</main>


