// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class^="upvote"]{
	margin-top: 12px;
}
.quesFollow {
	margin: 6px;
	align-text: right;
	padding-bottom: 10px;
}
h4.seperator{
	border-top: 1px solid grey;
	font-weight: bold;
	padding-top: 12px;
	margin-bottom: 24px;
}