// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class^="upvote"]{
	margin-top: 12px;
}
.quesActions {
	padding-bottom: 18px;
	display: flex;
}

.quesActionBtn {
	margin-right: 12px;
	margin-top: 12px;
	display: inline-block;
	border: 1px solid #c4d1e0;
	border-radius: 4px;
	padding: 6px;
	background-color: #f1f8fb;
}
.quesActionBtn:link {
	text-decoration: none;
}

h4.seperator{
	border-top: 1px solid grey;
	font-weight: bold;
	padding-top: 12px;
	margin-bottom: 24px;
}
